*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body {
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 41, 122);;
    background-size: cover;
    background-position: center;
    font-family: 'Dosis', sans-serif;
}

#loginForm{
    width: 400px;
    min-width: 350px;
    margin: 0 auto;
    background-color: rgb(209, 201, 248);
    border: 1px solid #858585;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}
/*
.moveup1 {
    animation-name: moveup;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

@keyframes moveup {
    from {top: 200px;}
    to {top: 0px;}
}
*/
.heading{
    text-transform: capitalize;
    text-align: center;
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 100px;
    margin-top: 30px;
}

input,
.submit-btn{
    width: 80%;
    height: 35px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #858585;
    padding: 15px;
    transition: .5s;
    font-family: 'Dosis', sans-serif;
}

input::placeholder{
    color: gray;
}

input:focus,
.submit-btn:hover{
    background: rgb(220, 220, 220);
    color: #000;
}

input:focus::placeholder{
    color: #000;
}

.submit-btn{
    width: auto;
    padding: 0 20px;
    cursor: pointer;
    margin: 50px auto 0;
    background-color: rgb(196, 183, 255);
}

.submit-btn:hover {
    background-color: rgb(117, 94, 216);
    color: white;
}

.link{
    padding-top: 5px;
    text-align: center;
    color: gray;
    display: block;
    margin: 30px auto;
    text-decoration: none;
}

.link:hover{
    color: black;
}

.fadein {
    animation: fadeIn 0.2s ease-in;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {  
    from {  
        opacity:0;  
    }  
 
    to {  
        opacity:1;  
    }  
 }

<<<<<<< HEAD:src/login.css
 @media screen and (max-width: 2560px) {

    #loginForm{
        width: auto;
        min-width: 475px;
        margin: 0 auto;
        background-color: rgb(209, 201, 248);
        border: 1px solid #858585;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 5px;
    }

 }
=======
 .alert-box{
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    max-width: 90%;
    width: auto;
    height: auto;
    padding: 10px;
    background: rgb(255, 119, 119);
    border-top: 10px solid rgb(255, 37, 37);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    font-family: 'roboto', sans-serif;
    text-align: center;
    transition: 1s;
}
>>>>>>> 9a40d880556530ec39d3ba9bbe1382804bf2dbe3:src/styles/login.css
