*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    background-size: cover;
    background-position: center;
    font-family: 'roboto', sans-serif;
}

.loginForm{
    width: 30%;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #858585;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.heading{
    text-transform: capitalize;
    text-align: center;
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 100px;
}

input,
.submit-btn{
    width: 80%;
    height: 35px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #858585;
    padding: 15px;
    transition: .5s;
}

input::placeholder{
    color: gray;
}

input:focus,
.submit-btn:hover{
    background: rgb(220, 220, 220);
    color: #000;
}

input:focus::placeholder{
    color: #000;
}

.submit-btn{
    width: auto;
    padding: 0 20px;
    cursor: pointer;
    margin: 50px auto 0;
}

.link{
    text-align: center;
    color: gray;
    display: block;
    margin: 30px auto;
}

.link:hover{
    color: black;
}